# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [54]:
numbers = [12,75,150,180,145,525,50]
def findLargest(list):
  '''
  This function returns largest number from list
  '''
  largest = numbers[0]
  for i in range(1,len(numbers)):
    if largest < numbers[i]:
      largest = numbers[i]
  return largest

print(findLargest.__doc__)
print('The largest element from list is {}'.format(findLargest(numbers)))

  This function returns largest number from list

The largest element from list is 525

Q2. Print all the even number between (1, 12).

In [56]:
def printEven(list):
  '''
    This function return number between 1 to 12
  '''
  list1=[]
  for i in range(1,len(listNumbers)):
    if (i % 2==0):
      list1.append(i)
  return list1

listNumbers=[1,2,3,4,5,6,7,8,9,10,11,12]
print(printEven.__doc__)
print('Even numbers from 1-12 are {}'.format(printEven(listNumbers)))

    This function return number between 1 to 12

Even numbers from 1-12 are [2, 4, 6, 8, 10]

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [57]:
def sumOfNumbers(number):
  '''
  This function return sum of all numbers from 1 to a given number
  '''
  sum = 0;
  for i in range(1,number + 1):
    sum = sum + i
  return sum;

print(sumOfNumbers.__doc__)
inputNumber = int(input('Enter numeric number:'))
print('Sum of numbers from 1 to {} is {}'.format(inputNumber,sumOfNumbers(inputNumber)))

  This function return sum of all numbers from 1 to a given number

Enter numeric number:13
Sum of numbers from 1 to 13 is 91

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [52]:
# Given:
def result(list):
  '''
  This function returns numbers on following conditions:
  a. The number must be divisible by five
  b. If the number is greater than 150, then skip it and move to the next number
  c. If the number is greater than 500, then stop the loop
  '''
  resultantList = []
  for i in range(1, len(list)):
    if(list[i] > 150):
      continue
    elif(list[i] > 500):
      break;
    elif(list[i] % 5 == 0) and (list[i] < 150):
      resultantList.append(list[i])
  return resultantList

numbers = [12, 75, 150, 180, 145, 525, 50]
print(result.__doc__)
print('Result is {}'.format(result(numbers)))

  This function returns numbers on following conditions:
  a. The number must be divisible by five
  b. If the number is greater than 150, then skip it and move to the next number
  c. If the number is greater than 500, then stop the loop

Reult is [75, 145, 50]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [23]:
list1 = [10,20,30,40,50]
print(list1[::-1])

[50, 40, 30, 20, 10]